$gbedu: #fe5e54;
$color-primary: #6672D3;
$bg-0: rgba(27, 16, 39, 0.9);
$bg-1: #191b1f;
$bg-2: rgba(213, 221, 251, 0.33);
$bg-3: #1a1c22;
$bg-4: #23242a;
$bg-5: #181821;
$bg-6: #c4a9fa;
$white: #ffffff;
$pale-white: #f3f7fd;
$side-bar-color: #12091a;
$gbeduSecondary: #b08cf9;
$green: #00C9B8;
$mainTextColor: #a49ac3;
$body-color: #1b1027;

$black: #1b1a1a;
$light-black: #dbd8e2;
$grey: #777777;
$light-grey: rgb(240, 240, 240);
$dark-grey: rgba(29, 34, 44, 0.75);
$red: #fc484b;

$input-background: rgba(243, 248, 247, 0.05);
// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.6;
$text-color: #636b6f;
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-accent: "Montserrat", sans-serif;
// Navbar
